* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background: #070c22;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(197, 194, 194);
  border: 0.1px solid rgb(202, 198, 198);
  border-radius: 7px;
}
.homepage {
  background-color: #09112d;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  align-items: center;
}
.nav-bar {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #09112d;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 17%;
  height: auto;
  padding-left: 1rem;
  padding-top: 1.3rem;
  height: 5.34rem;
}
.logo > img {
  width: auto;
  height: 2.8rem;
}
.nav-content {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content1 {
  margin-left: 1.6rem;
  padding-top: 8px;
}
.nav-content .content1 a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
  text-align: right;
  transition: 0.3s ease;
}
.nav-content .content1 a:hover {
  border-bottom: 3.5px solid #5bc0de;
}
.nav-contentright {
  width: 22%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-contentright #button1 {
  width: auto;
  border: 2px solid white;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #09112d;
  color: white;
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
  height: 2.32rem;
  transition: 0.3s ease;
}
.nav-contentright #button1:hover {
  background-color: white;
  color: #09112d;
}
.nav-contentright #button2 {
  width: auto;
  border: 2px solid white;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: white;
  color: #09112d;
  text-align: center;
  padding: 0rem 1.5rem 0rem 1.5rem;
  height: 2.32rem;
  margin-left: 1rem;
}
.nav-contentright #button2:hover {
  background-color: #5bc0de;
  border: 2px solid #5bc0de;
}
.introduction-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 60%;
  position: relative;
  height: auto;
  margin-top: 4.7rem;
  margin-bottom: 8rem;
}
.main-photo img {
  height: auto;
  width: 100%;
}
.main-photo .p2 {
  display: none;
}
#intro-button {
  height: 2.8rem;
  width: 66%;
  background-color: #5bc0de;
  color: black;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.15rem;
  font-weight: 600;
  border: none;
  padding: 0rem 1.2rem 0rem 1.2rem;
  margin-left: 41%;
}
#intro-button span {
  font-size: 1.5rem;
}
#intro-button:hover {
  background-color: rgb(146, 78, 78);
  cursor: pointer;
}
.intro-text {
  height: auto;
  width: fit-content;
  position: absolute;
  bottom: -5.5rem;
  left: -7.5rem;
}
.intro-text h1 {
  color: white;
  font-size: 4.2rem;
  font-family: "Baloo Tammudu 2", cursive;
  line-height: 3.5rem;
}
.dot-img {
  position: absolute;
  top: -10%;
  width: 13%;
  right: -6%;
  z-index: 3;
}
.dot-img img {
  width: 100%;
}
.reality {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 4rem;
}
.reality1 {
  display: flex;
  width: 100%;
  height: 50rem;
}
.real1 {
  width: 50%;
  background-image: url(home-img2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.real2 {
  padding: 15% 7% 13.5% 7%;
  width: 50%;
  background-color: #914a91;
  text-align: center;
}
.reality2 {
  display: flex;
  width: 100%;
  height: 50rem;
}
.real3 {
  padding: 15% 7% 13.5% 7%;
  position: relative;
  width: 50%;
  background-color: #de5e57;
  text-align: center;
}
.real4 {
  width: 50%;
  background-image: url(ch1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.real2 h2 {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 2.7rem;
  line-height: 100%;
}
.real3 h2 {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 2.95rem;
  line-height: 100%;
}
.link {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.link:hover {
  border-bottom: 1px solid skyblue;
}
.link span {
  font-size: 1.8rem;
}
.real3 p {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.25rem;
  line-height: 100%;
  margin-top: 5%;
}
.inverted-dots {
  height: 30%;
  width: 15%;
  position: absolute;
  z-index: 5;
  top: 14%;
  left: 1px;
  background-image: url(dot-today.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ourwork {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.work-description {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 2rem;
  color: white;
  padding-top: 14%;
  padding-left: 14%;
  width: 90%;
  height: 55%;
  line-height: 2.2rem;
}
.description a {
  font-size: 1.23rem;
  margin-left: 60%;
  line-height: 3.4rem;
  text-decoration: none;
  color: white;
  font-weight: 200;
}
.description a:hover {
  border-bottom: 1px solid skyblue;
}
#partner-with-us span {
  color: white;
  font-size: 1.5rem;
}
.scrollbutton span {
  color: white;
  font-size: 3rem;
  text-decoration: none;
}
.horizontal-scroll {
  height: 40%;
  width: 100%;
  display: flex;
  overflow-x: auto;
  align-items: center;
  padding-left: 6.3%;
}
.contents-hor {
  display: flex;
  align-items: center;
  min-width: 40%;
  margin-left: 3%;
}
.photopart {
  width: 45%;
  height: auto;
}
.contentpart {
  width: 52%;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.25rem;
  color: white;
  line-height: 1.7rem;
  margin-left: 7px;
}
.photopart img {
  width: 100%;
  height: auto;
}
.gridboxes {
  width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.boxes {
  height: 55vh;
}
#box1 {
  background-color: #de5e57;
  line-height: 2.2rem;
  padding-left: 10%;
  font-family: "Baloo Tammudu 2", cursive;
  padding-top: 34%;
  position: relative;
  z-index: 1;
}
.boxes img {
  height: 3rem;
  color: #000000;
}
.boxes h1 {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 3rem;
}
#box2 img {
  width: 100%;
  height: 100%;
}
#box3 {
  line-height: 2.2rem;
  padding-left: 10%;
  font-family: "Baloo Tammudu 2", cursive;
  padding-top: 34%;
  position: relative;
  z-index: 1;
  background-color: #6b6deb;
  position: relative;
  z-index: 1;
}
#box4 {
  background-image: url(home-img4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#box5 {
  line-height: 2.2rem;
  padding-left: 10%;
  font-family: "Baloo Tammudu 2", cursive;
  padding-top: 34%;
  background-color: #914a91;
  position: relative;
  z-index: 1;
}
#box6 {
  background-image: url(pexels-cottonbro-6209553-scaled.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.floatingimage {
  height: 7rem;
  background-image: url(dot-20.000-1-fix.png);
  background-size: cover;
  z-index: 2;
  width: 29%;
  right: 1px;
  top: 0.1px;
  position: absolute;
}
.floatingimage1 {
  background-image: url(dot-20.000-3-fix.png);
  height: 11rem;
  position: absolute;
  background-size: cover;
  z-index: 2;
  width: 19.3%;
  right: 1px;
  top: 10rem;
}
.floatingimage2 {
  background-image: url(dot-20.000-2-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 25%;
  position: absolute;
  z-index: 2;
  top: 1px;
  right: 2px;
}
.horizontal-scroll {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.horizontal-scroll::-webkit-scrollbar {
  width: 0rem;
  border-radius: 0rem;
}
.horizontal-scroll::-webkit-scrollbar-thumb {
  width: 0px;
  display: none;
  background-color: rgb(65, 64, 64);
  border-radius: 1rem;
}
.formpart {
  width: 100%;
  height: auto;
  display: flex;
}
.formpart-content {
  width: 50%;
  background: #de5e57;
  font-family: "Baloo Tammudu 2", cursive;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
  height: 31.3rem;
  padding-left: 6%;
  padding-top: 15%;
}
.formpart-imgs {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 31.3rem;
}
.shoppart {
  height: 50%;
  background-image: url(nomi-shop-bag.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
}
.shoppart a {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  position: absolute;
  bottom: 0px;
  right: 3rem;
  z-index: 1;
}
.shoppart a:hover {
  text-decoration: underline;
  transform: scale(1.03);
}
.donatepart {
  height: 50%;
  background-image: url(nomi-donate-today.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#formopen {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.7rem;
  font-weight: 600;
  width: 35%;
  color: white;
  height: 3.5rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  background: transparent;
  border: 1.5px solid rgb(255, 255, 255);
}
#formopen:hover {
  cursor: pointer;
}
.form-popup {
  display: none;
}
.endingpart {
  width: 100%;
  height: 60vh;
  display: flex;
}
.endingpart1 {
  height: 100%;
  width: 50%;
  font-family: "Baloo Tammudu 2", cursive;
  line-height: 1.5rem;
  padding-left: 7%;
  padding-top: 6%;
  font-size: 1.6rem;
  color: white;
}
.endingpart2 {
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
  padding-top: 5%;
  padding-left: 5%;
  width: 25%;
}
.endingpart2 ul {
  list-style: none;
}
.endingpart2 a {
  text-decoration: none;
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
}
.endingpart2 a:hover {
  font-size: large;
}
.endingpart1 input[type="email"] {
  border: none;
  width: 47%;
  height: 2.5rem;
  padding: 1.5%;
  margin-top: 2rem;
  margin-left: 3px;
}
.endingpart1 input[type="email"]:focus {
  outline: none;
}
#lastbutton {
  background-color: skyblue;
  height: 2.5rem;
  border: none;
  width: 23%;
  margin-top: 2rem;
  margin-left: -6px;
}
.ham {
  display: none;
}
.showMenu {
  display: none;
}
.hamburgerpage {
  display: none;
}
